<div class="center jumbotron">
  <h1>NDSU Plant Breeding Web App</h1>
  <h2>  This is the home page for the
    <a href="https://www.ag.ndsu.edu/plantsciences/">NDSU Department of Plant Sciences</a>
    plant breeding analysis web application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>