<% provide(:title, "About") %>
<h1>About the NDSU Plant Breeding Web App</h1>
<p>
  The <a href="https://www.ag.ndsu.edu/plantsciences/"><em>The Department of Plant Sciences
      </em></a> at
  <a href="http://www.ndsu.edu/">North Dakota State University</a> is home
  to world-class breeding programs for wheat, barley, soybean,
  corn, peas, lentils, and a host of other crops.
  A number of programs in the department rely on
  <a href="https://www.agronomix.com/">Agrobase</a>
  and the
  <a href="https://triticeaetoolbox.org/">Agrobase</a>
  for efficient data management and analysis.
  The applications hosted here streamline access to these tools,
  communication between them, and other analysis that complements their capabilities.
</p>

